.float-bg {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;

}

.float-content {
	width: 500px;
	height: 400px;
	background-color: white;
	border-radius: 4px;
	position: absolute;
	margin-top: 100px;

}

.textboxes {
	width: 50%;
	display: block;
	margin: 15px auto;
	width: 275px;
    margin: 5px;
    margin-left: 90px;
    padding: 18px;
    border: 1px solid black;
    border-radius: 4px;
}

.ex {
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 42px;
	transform: rotate(45deg);
	cursor: pointer;
}

.img {
	padding-left: 120px;
	padding-top: 30px;
	margin-bottom: 10px;
}

.btnlog {
    width: 150px;
    margin-left: 160px;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}