*{
	box-sizing: border-box;
}

.crtbtn,.cancelbtn{
	float: center;
	width: 49%;
}

 input[type=email], input[type=text], input[type=password] {
   width: 100%;  
   padding: 15px;  
   margin: 5px 0 22px 0;  
   display: inline-block;  
   border: none;  
   background: #f1f1f1; 
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;  
  outline: none; 
}

hr {
  border: 2px 
  solid #f1f1f1;  
  margin-bottom: 25px; 
}

button {  
	background-color: #4CAF50;  
	color: white;  
	padding: 14px 20px;  
	margin: 8px 0;  
	border: none;  
	cursor: pointer;  
	width: 100%;  
	opacity: 0.9; 
	border-radius: 10px;
}

button:hover {
  opacity:1; 
}

.cancelbtn {
  background-color: #f44336; 
}

.logbtn{
	float: right;
	width: 25%;
}

.login, .signup {  
	padding: 100px; 
}
 label{
 	color: blue;
 }

 table{
 	background-color: #e9e9f7;
 	border-radius: 15px;
 	padding: 20px;
 }
#logintable{
width:600px;
}

.signuperr{
	color:red;
}